.section__bag .wrapper {
  padding: 20px 0;
  background: linear-gradient(
      270deg,
      rgba(255, 0, 0, 0.2) 19.17%,
      rgba(255, 0, 0, 0) 69.83%
    ),
    linear-gradient(0deg, #ffac30, #ffac30);
}

.section__bag .item:first-child {
  margin-top: -120px;
}

.section__bag .container {
  display: flex;
  align-items: center;
}
