.section__return .wrapper {
  background-color: var(--main-bg);
}

.section__return .container {
  display: flex;
  flex-direction: column;
  padding: 86px 70px;
  background-image: url("../images/return.svg");
  background-position: 85% bottom;
  background-repeat: no-repeat;
  background-size: 215px;
}

.section__return .item {
  width: 60%;
}

.section__return .item h2 {
  margin-bottom: var(--main-space);
}

@media screen and (max-width: 768px) {
  .section__return .container {
    padding: 78px 36px 116px;
    background-position: 85% 200%;
    background-size: auto;
  }

  .section__return .item {
    width: 100%;
  }
}
