.section__bag .wrapper {
  padding: 20px 0;
  background: linear-gradient(
      270deg,
      rgba(255, 0, 0, 0.2) 19.17%,
      rgba(255, 0, 0, 0) 69.83%
    ),
    linear-gradient(0deg, #ffac30, #ffac30);
}

.section__bag .item:first-child {
  margin-top: -90px;
  width: 635px;
  margin-left: -50px;
}

.section__bag .container {
  display: flex;
  align-items: center;
}

.section__bag .item h2 {
  margin-bottom: var(--main-space);
}

.section__bag .item p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .section__bag .wrapper {
    padding: 0 0 60px;
  }

  .section__bag .container {
    flex-direction: column;
    gap: 45px;
  }

  .section__bag .item:first-child {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    width: 100%;
    margin-left: 0;
  }

  .section__bag .item p {
    font-size: 12px;
  }
}
