.section__delivery {
  color: var(--black);
  overflow: hidden;
}

.section__delivery .wrapper {
  padding-top: 86px;
}

.section__delivery .container h2 {
  margin-bottom: var(--main-space);
}

.section__delivery .goods {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.section__delivery .goods .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 340px;
  padding: 120px 56px 0;
  background-color: rgba(255, 172, 48, 0.2);
  border-radius: 230px 230px 0 0;
  background-image: url("../images/good-1.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  aspect-ratio: 1/1;
}

.section__delivery .goods .item:nth-child(even) {
  background-color: rgba(61, 36, 213, 0.1);
}

.section__delivery .goods .item:nth-child(2) {
  background-image: url("../images/good-2.png");
}

.section__delivery .goods .item:nth-child(3) {
  background-image: url("../images/good-3.png");
}

.section__delivery .goods .item:nth-child(4) {
  background-image: url("../images/good-4.png");
}

.section__delivery .goods .item > h4 {
  font-family: "Akony", sans-serif;
  font-size: 24px;
  line-height: 1.1;
  color: var(--main-color);
}
