.section__share .container {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-bottom: 76px;
  color: var(--black);
}

.section__share .item > p:not(:last-child) {
  margin-bottom: var(--main-space);
}

.section__share .item > p > * {
  display: inline-block;
}

.section__share .item {
  flex: 1;
  font-size: 16px;
}

.section__share .item span {
  font-family: "Montserrat Bold";
}

.section__share .item:first-child {
  flex: 0 1 390px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .section__share .container {
    flex-direction: column;
    gap: 38px;
    margin-bottom: 138px;
  }

  .section__share .item {
    font-size: 12px;
  }

  .section__share .item:first-child {
    flex: none;
    padding: 0;
  }
}
