.section__time .wrapper {
  padding: 86px 0 76px;
  background-color: var(--main-bg);
  background-image: url("../images/building-2.png");
  background-position: left bottom;
  background-size: 75%;
  background-repeat: no-repeat;
}

.section__time .items {
  display: flex;
  gap: 58px;
}

.section__time .items .item {
  flex: 1;
}

.section__time .items .item:not(:first-child) {
  flex-grow: 1.5;
}

.section__time .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 156px;
}

.section__time .bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section__time .bottom > img {
  width: 105px;
}

.section__time .item--wrap {
  display: flex;
  gap: 8px;
}

.section__time .item--wrap > p:first-child {
  font-family: "Akony", sans-serif;
  font-size: 52px;
  color: var(--orange);
}

.section__time .item--wrap > p:last-child {
  margin-top: 10px;
}

.section__time .bottom {
  align-items: center;
  width: 142px;
  font-size: 12px;
  text-align: center;
  font-family: "Montserrat Light";
}

.section__time .wrap {
  display: flex;
  gap: 0;
}

.section__time .items .item:not(:first-child) {
  flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .section__time .container {
    gap: 28px;
  }

  .section__time .items {
    gap: 78px;
  }

  .section__time .wrap {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .section__time .items {
    flex-direction: column;
    gap: 20px;
  }

  .section__time .container {
    align-items: center;
    gap: 36px;
  }

  .section__time .wrapper {
    padding: 80px 0 188px;
  }
}
